<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      lang="ru">

<head>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../scripts/sessions.js" th:src="@{/scripts/sessions.js}"></script>
    <!-- Bootstrap CSS  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Bootstrap optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" media="all" href="../css/styles.css" th:href="@{/css/styles.css}"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Отчет по действиям с ТМЦ</title>

</head>


<body>

<div id="navigationDiv" th:replace="~{fragments :: navigationBar(${username})}"></div>

<div class="row" style="margin: 20px">
    <div class="col-md-2">
        <form id="actionForm">
            <label for="orgName">Выберите склад:</label>
            <select class="form-control" id="orgName" name="orgName" required>
                <option selected disabled>-организация-</option>
                <option th:each="o : ${orgsList}" th:value="${o}" th:text="${o}"></option>
            </select>
        </form>
    </div>
    <div class="col-md-10"></div>
</div>
<div class="container">
    <table class="table-bordered" style="width: 90%; overflow: scroll">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Дата</th>
            <th scope="col">Действие</th>
            <th scope="col">Отправитель</th>
            <th scope="col">Получатель</th>
            <th scope="col">Название ТМЦ</th>
            <th scope="col">Количество</th>
            <th scope="col">Пользователь</th>
        </tr>
        </thead>
        <tbody id="tableBody">
        </tbody>
    </table>
</div>

<script src="../scripts/entire.js" th:src="@{/scripts/entire.js}"></script>

<script>
    $("#orgName").on("change", function () {
        $("#actionForm").submit();
    });
    ajaxPost("#actionForm", {
        200/*SC_OK*/: function (data) {
            //$("#actionForm").find("div.statusDiv").html("Успех");
            console.log(data);
            fillTable("tableBody", data, prepareActionRow);
            alert("Успех");
        }
    })
</script>

</body>
</html>