<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      lang="ru">

<head>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../scripts/sessions.js" th:src="@{/scripts/sessions.js}"></script>
    <!-- Bootstrap CSS  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Bootstrap optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" media="all" href="../css/styles.css" th:href="@{/css/styles.css}"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Добавить ТМЦ</title>

</head>


<body>

<div id="navigationDiv" th:replace="~{fragments :: navigationBar(${username})}"></div>

<div class="container-fluid panel panel-default" style="margin-bottom: 1%; padding-bottom: 0.5%">
    <h2>Добавление ТМЦ</h2>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <form id="actionForm" class="panel panel-primary" style="width: 90%">
                <div class="statusDiv"></div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="orgName">Выберите склад/организацию:</label>
                        <select class="form-control" id="orgName" name="orgName" required>
                            <option selected disabled>-организация-</option>
                            <option th:each="o : ${orgsList}" th:value="${o}" th:text="${o}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="itemName">Введите название ТМЦ:</label>
                        <input class="form-control" type="text" id="itemName" name="itemName" placeholder="название"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="itemType">Выберите тип ТМЦ:</label>
                        <select class="form-control" id="itemType" name="itemType" required>
                            <option selected disabled>-тип-</option>
                            <option th:each="t : ${itemTypes}" th:value="${t.name()}" th:text="${t}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="itemAmount">Количество:</label>
                        <input class="form-control" type="number" min="1" id="itemAmount" name="itemAmount"
                               placeholder="0"
                               required>
                    </div>

                    <div class="btn-group btn-group-lg" style="float: right">
                        <input class="btn btn-danger" type="submit" value="Добавить">
                        <input class="btn btn-default" type="reset" value="Сброс"/>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Склад организации</h3></div>
                <div class="panel-body">
                    <table class="table" style="overflow: scroll">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Название ТМЦ</th>
                            <th scope="col">Тип ТМЦ</th>
                            <th scope="col">Количество</th>
                        </tr>
                        </thead>
                        <tbody id="tableBody">
                        <tr th:each="o : ${ohiList}">
                            <td th:text="${o.getOrg()}"></td>
                            <td th:text="${o.getItem()}"></td>
                            <td th:text="${o.getAmount()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<script src="../scripts/entire.js" th:src="@{/scripts/entire.js}"></script>-->
<script src="../scripts/addItem.js" th:src="@{/scripts/addItem.js}"></script>


</body>
</html>