<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      lang="ru">

<head>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../scripts/sessions.js" th:src="@{/scripts/sessions.js}"></script>
    <!-- Bootstrap CSS  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Bootstrap optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" media="all" href="../css/styles.css" th:href="@{/css/styles.css}"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title th:text="${pageName}">Авторизация</title>

</head>

<body>
<div class="row" style="margin-top: 10%">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form id="authForm" class="panel panel-primary">
            <div class="statusDiv"></div>
            <div class="panel-body" th:include="~{authForms :: ${formToLoad}}"></div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>


<script src="../scripts/entire.js" th:src="@{/scripts/entire.js}"></script>
<script src="../scripts/auth.js" th:src="@{/scripts/auth.js}"></script>


</body>

</html>