<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
</head>
<body>


<div th:fragment="authForm">
    <form>
        <div class="form-group">
            <label for="username">Имя пользователя:</label>
            <input class="form-control" type="text" id="username" name="username"
                   placeholder="имя пользователя" required autofocus>
        </div>
        <div class="form-group">
            <label for="password">Пароль:</label>
            <input class="form-control" type="password" id="password" name="password"
                   placeholder="пароль" required>
        </div>
        <div class="btn-group btn-group-lg" style="float: right">
            <input class="btn btn-primary" type="submit" value="Войти">
            <input class="btn btn-default" type="reset" value="Сброс"/>
        </div>
    </form>
    <p>Если вы не зарегистрированы, пройдите по <a href="/register">ссылке</a>.</p>
</div>


<div th:fragment="registrationForm">
    <form>
        <div class="form-group">
            <label for="username">Придумайте имя пользователя:</label>
            <input class="form-control" type="text" id="username" name="username"
                   placeholder="имя пользователя" required autofocus>
        </div>
        <div class="form-group">
            <label for="password">Придумайте пароль:</label>
            <input class="form-control" type="password" id="password" name="password"
                   placeholder="пароль" required>
        </div>
        <div class="form-group">
            <label for="passwordRep">Повторите пароль:</label>
            <input class="form-control" type="password" id="passwordRep" name="passwordRep"
                   placeholder="пароль" required>
        </div>
        <div class="btn-group btn-group-lg" style="float: right">
            <input class="btn btn-primary" type="submit" value="Подтвердить">
            <input class="btn btn-default" type="reset" value="Сброс"/>
        </div>
    </form>
    <p>Если вы уже зарегистрированы, пройдите по <a href="auth">ссылке</a>.</p>
</div>


</body>
</html>