<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="ru">

<head>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../scripts/sessions.js" th:src="@{/scripts/sessions.js}"></script>
    <!-- Bootstrap CSS  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Bootstrap optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" media="all" href="../css/styles.css" th:href="@{/css/styles.css}"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title></title>
</head>


<body>

<nav id="navigationBar" th:fragment="navigationBar(username)" class="navbar navbar-inverse" style="margin-bottom: 0px">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand"><span class="glyphicon glyphicon-object-align-bottom"></span> БЛА-БЛА</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    Организации <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/organizations-add">Добавить</a></li>
                    <li><a href="/organizations-edit">Редактировать</a></li>
                </ul>
            </li>
            <!--th:classappend="(${pageName}=='Reports')? 'active'"-->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    ТМЦ <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/items-add">Добавить</a></li>
                    <li><a href="/items-sell">Продать</a></li>
                    <li><a href="/items-replace">Переместить</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    Отчеты <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/reports-actions">Действия с ТМЦ</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">
                <span class="glyphicon glyphicon-log-out"></span>
                <span  th:text="${username}">Кабинет</span>
            </a></li>
        </ul>
    </div>
</nav>

</body>
</html>