<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      lang="en">

<head>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap CSS  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Bootstrap optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" media="all" href="../css/styles.css" th:href="@{/css/styles.css}"/>

    <meta charset="UTF-8">

    <title>Main page</title>

</head>

<body>

<div id="navigationDiv"></div>

<div class="container">
    <h2>Welcome!</h2>
    <p>This is yet another shitty app.</p>
    <p>This is yet another shitty app.</p>
    <p>This is yet another shitty app.</p>
    <p>This is yet another shitty app.</p>
    <p>This is yet another shitty app.</p>
</div>

<script>
    $("#navigationDiv").load("/templates/fragments.html #navigationBar");
</script>

</body>

</html>