<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div th:fragment="orgsTable(orgsList)">
    <thead>
    <tr>
        <th scope="col">Название</th>
        <th scope="col">Регион</th>
        <th scope="col">Адрес</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="o : ${orgsList}">
        <td th:text="${o.getName()}"></td>
        <td th:text="${o.getRegion()}"></td>
        <td th:text="${o.getAddress()}"></td>
    </tr>
    </tbody>
</div>

<div th:fragment="ohiTable(ohiList)">

</div>
</body>
</html>