<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Yet another shitty app</display-name>

    <welcome-file-list>
        <welcome-file>/templates/index.html</welcome-file>
    </welcome-file-list>


    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>edu.dartit.warehouseapp.web.AuthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>edu.dartit.warehouseapp.web.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>AddOrgServlet</servlet-name>
        <servlet-class>edu.dartit.warehouseapp.web.AddOrgServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddOrgServlet</servlet-name>
        <url-pattern>/organizations-add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddItemServlet</servlet-name>
        <servlet-class>edu.dartit.warehouseapp.web.AddItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddItemServlet</servlet-name>
        <url-pattern>/items-add</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ViewOrgServlet</servlet-name>
        <servlet-class>edu.dartit.warehouseapp.web.ViewOrgServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewOrgServlet</servlet-name>
        <url-pattern>/organizations</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>edu.dartit.warehouseapp.web.ProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>

<!--
    <filter>
        <filter-name>WhaSessionFilter</filter-name>
        <filter-class>edu.dartit.warehouseapp.web.WhaSessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>WhaSessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->


</web-app>
